/* :root {
  --main-color: #212121;
  --secondary-color: #757575;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --main-background: #ffffff;
  --secondary-background: #2f303a;
  --logo-dark-color: #000000;
  --button-bkg-color: #f5f4fa;
  --button-hero-active: #188ce8;
  --border-color: #eeeeee;
  --border-color-header: #ececec;
  --social-bkg-color: #afb1b8;
  --social-bkg-footer-color: rgba(255, 255, 255, 0.1);
  --work-sign-bkg: rgba(47, 48, 58, 0.8);
  --modal-bkg: rgba(0, 0, 0, 0.2);
  --border-color-close-btn: rgba(0, 0, 0, 0.1);
  --border-input-color: rgba(255, 255, 255, 0.3);
  --input-color: rgba(255, 255, 255, 0.6);
  --shadow-sendbut: rgba(0, 0, 0, 0.15);
  --bkg-overlay: rgba(33, 150, 243, 0.9);
} */

/* ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--main-background);
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0px;
} */

/* .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* .conteiner {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
} */

/* .link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.current {
  color: var(--accent-color);
} */

/* header */

/* .header-border {
  border-bottom: 1px solid var(--border-color-header);
}

.box-header {
  display: flex;
}

.header__nav {
  display: flex;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo__accent {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__dark {
  color: var(--logo-dark-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.site-navigation__link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-navigation {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.site-navigation__list {
  position: relative;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
  padding-left: 0;
}

.site-navigation__link .link:hover,
.site-navigation__link .link:focus {
  color: var(--accent-color);
}

.header-contacts__link {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
} */

/* HERO */

/* .hero {
  background-color: var(--secondary-background);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Hero-bkg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  color: var(--main-background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  box-sizing: content-box;
  margin: auto;
}

.hero-button {
  width: 216px;
  height: 50px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--button-hero-active);
}

.button--primary {
  background-color: var(--accent-color);
  border-radius: 4px;
  color: var(--main-background);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  border: none;
}

.button--position {
  left: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
} */

/* Features */

/* .features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__box {
  display: flex;
}

.features-listbox {
  display: flex;
}

.features-listbox__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  width: 270px;
}

.features-listbox__card:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
}

.features-listbox__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.features-listbox__icon {
  width: 270px;
  height: 120px;
  background-color: var(--button-bkg-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
} */

/* WORKS */

/* .works {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  padding-left: 0;
}

.work-list__signbox {
  background-color: var(--work-sign-bkg);
  height: 70px;
  position: absolute;
  width: 370px;
  top: 224px;
}

.work-list__card {
  position: relative;
}

.work-list__signtext {
  color: var(--main-background);
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

/* TEAM */

/* .team {
  background-color: var(--button-bkg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.our-team__card {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team__text {
  text-align: center;
}

.our-team__box {
  background-color: var(--main-background);
  padding: 30px;
}

.our-team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.social {
  display: flex;
  gap: 10px;
  margin-top: 16px;
}

.social__link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--social-bkg-color);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-background);
} */

/* CLIENTS */

/* .clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__box {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-bkg-color);
  fill: var(--social-bkg-color);
  border-radius: 4px;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  display: block;

  margin: 16px 32px;
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
} */

/* FOOTER */

/* .contacts-footer__link {
  color: var(--contacts-footer-color);
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer {
  background-color: var(--secondary-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo__white {
  color: var(--main-background);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.contacts-footer__list {
  margin-top: 9px;
}

.contacts-footer {
  margin-top: 20px;
}

.contacts-footer__adresslink {
  color: var(--main-background);
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--main-background);
  background-color: var(--social-bkg-footer-color);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-background);
}

.footer-social {
  display: inline-block;
  margin-left: 93px;
}

.footer-social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: clac(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background);
  margin-bottom: 20px;
}

.footer--box {
  display: flex;
  align-items: baseline;
}

.footer-social__list {
  display: flex;
  gap: 10px;
}

.text {
  color: var(--secondary-color);
} */

/* BACKDROP */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bkg);


  transition-duration: 1.5s;

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 581px;
  background-color: var(--main-background);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-duration: 1.5s;
}

.close-button {
  position: absolute;
  left: 100%;
  cursor: pointer;
  transform: translate(calc(-100% - 8px));
  border: 1px solid;
  border-color: var(--border-color-close-btn);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--main-background);
  padding: 0;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.form__title {
  display: flex;
  margin-bottom: 12px;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.user-email-sub {
  margin-bottom: 20px;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background);
}

.subscibe-sub {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: var(--main-background);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--shadow-sendbut);
  border-radius: 4px;
  border: 0;
}

.form-subscription {
  margin-left: 93px;
}

.box-input-sub {
  display: flex;
  gap: 12px;
}

.input-email {
  padding-left: 18px;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid var(--border-input-color);
  background-color: var(--secondary-background);
  color: var(--input-color);
  outline: none;
}

.icon-send {
  fill: var(--main-background);
}

.send-but {
  margin: 30px auto 0 auto;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--shadow-sendbut);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--main-background);
  cursor: pointer;
}

.send-but:hover,
.send-but:focus {
  background-color: var(--button-hero-active);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input__icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: var(--main-color);
}

.input {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

.input__field {
  padding-left: 45px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.input__field:focus + .input__icon {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input__field:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__lable {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--secondary-color);
}

.form__textarea {
  height: 120px;
  width: 448px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.custom-checkbox__label {
  position: relative;
  padding-left: 21px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.custom-checkbox {
  display: flex;
  align-items: center;
}

.custom-checkbox__input-agree:checked + .custom-checkbox__icon {
  fill: var(--main-background);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.custom-checkbox__icon {
  position: absolute;
  fill: transparent;
  border: 2px solid var(--main-color);
  border-radius: 2px;
}

.custom-checkbox__input-agree {
  appearance: none;
}

.custom-checkbox__conditions-link {
  color: var(--accent-color);
}

.button--secondary {
  background-color: var(--button-bkg-color);
  border-radius: 4px;
  color: var(--main-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button--secondary:hover,
.button--secondary:focus {
  background-color: var(--accent-color);
  color: var(--main-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--prime-box {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  padding: 6px 25px;
}

.button--sec-box {
  padding: 6px 22px;
} */

/* .current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  content: '';
  background-color: var(--accent-color);
} */

/* .projects-item__title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects-item__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.projects__nav {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.projects-list {
  flex-wrap: wrap;
  margin: -15px;
  margin-top: 49px;
  display: flex;
}

.projects-list__card {
  width: calc((100% / 3) - 30px);
  margin: 15px;
  position: relative;
}

.projects-list__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__link:hover,
.projects-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item__title--position {
  margin-bottom: 4px;
  margin-right: 0;
}

.projects-item {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.desc-overay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--bkg-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--main-background);
}

.projects-list__card:hover .desc-overay {
  transform: translateY(0);
}

.project-img-container {
  position: relative;
  overflow: hidden;
} */
