@import './utils/_variables.scss';
@import './base/_base.scss';
@import './layout/_container.scss';
@import './layout/_header.scss';
@import './components/_hero-section.scss';
@import './components/_features-section.scss';
@import './components/_works-section.scss';
@import './components/_team-section.scss';
@import './components/_clients-section.scss';
@import './layout/_footer.scss';
@import './components/_backdrop.scss';
@import './components/_forms.scss';
@import './components/_projects-section.scss';