.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features__box {
    display: flex;
}

.features-listbox {
    display: flex;
}

.features-listbox__text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    width: 270px;
}

.features-listbox__card:not(:last-child) {
    margin-right: 30px;
}

.features__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.666;
    text-align: center;
    letter-spacing: 0.03em;
}

.features-listbox__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.features-listbox__icon {
    width: 270px;
    height: 120px;
    background-color: var(--button-bkg-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}