.works {
    padding-bottom: 94px;
}

.work-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    padding-left: 0;

    &__signbox {
        background-color: var(--work-sign-bkg);
        height: 70px;
        position: absolute;
        width: 370px;
        top: 224px;
        }
    
    &__card {
        position: relative;
        }
    
    &__signtext {
        color: var(--main-background);
        text-transform: uppercase;
        font-size: 14px;
        line-height: calc(16 / 14);
        text-align: center;
        letter-spacing: 0.03em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        }
}

