:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --contacts-footer-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --main-background: #ffffff;
    --secondary-background: #2f303a;
    --logo-dark-color: #000000;
    --button-bkg-color: #f5f4fa;
    --button-hero-active: #188ce8;
    --border-color: #eeeeee;
    --border-color-header: #ececec;
    --social-bkg-color: #afb1b8;
    --social-bkg-footer-color: rgba(255, 255, 255, 0.1);
    --work-sign-bkg: rgba(47, 48, 58, 0.8);
    --modal-bkg: rgba(0, 0, 0, 0.2);
    --border-color-close-btn: rgba(0, 0, 0, 0.1);
    --border-input-color: rgba(255, 255, 255, 0.3);
    --input-color: rgba(255, 255, 255, 0.6);
    --shadow-sendbut: rgba(0, 0, 0, 0.15);
    --bkg-overlay: rgba(33, 150, 243, 0.9);
}